# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Datasets (your dataset)
skin dataset/
data/
datasets/

# Media + static files
media/
static/
*.mp3
*.mp4

# Django DB
db.sqlite3

# Django cache files
*.log

# Model files
*.h5
*.pt
*.pth

# IDE
.vscode/
.idea/
