{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body background="https://wallpaperaccess.com/full/5242273.jpg">
    {% include "medical/navbar.html" %}
    <br><br><br><br><br>
    <br><br><br><br><br>
    <h2 class="text-center" style="font-family: Times New Roman;color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;">Logged Out Successfully. <br> Thank you for using our system!</h2>


<br><br><br><br><br>
<br><br>

  </body>
</html>
