<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
  <style type="text/css">
    .bs-example {
      margin: 0px;

    }
    .bg-dark {
    background-color: #212529!important;
}
    .navbar-brand {
      font-size: 20px;
      font-family: monospace;
      
    }
    
  </style>
</head>

<body>


  <div class="bs-example">
    <nav class="navbar navbar-expand-md  navbar-light fixed-top" style="background-color:rgb(23, 23, 80);">
      <a style="color: #ffffff;text-decoration: none;" href="/"><img src="https://www.amritahospitals.org/_next/image?url=https%3A%2F%2Fadmin.amritahospitals.org%2Fsites%2Fdefault%2Ffiles%2F2024-08%2Fimage%2520%25284%2529.png&w=3840&q=100" width=150 height=100 style="margin-left:10px;border-radius:30px;"><font size ="15"></font><br /></a>  
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <p style="
          padding-left: 15px;
      "  class="nav-item nav-link active"></p>

        </div>
        <div class="navbar-nav">
          
          <a href="/customer/register_user" class="nav-item nav-link" style="color: #f1f1f1;font-size: 25px;">Register</a>
          
          <a href="/customer/loginuser" class="nav-item nav-link" style="color: #f1f1f1;font-size: 25px;">Login</a>
          <a href="/aboutus" class="nav-item nav-link" style="color: #f1f1f1;font-size: 25px;">About Us</a>
          
        </div>
      </div>
    </nav>
  </div>


</body>

</html>
